<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-3" id="profile-sidebar">
    <section>
      <header>
        <%= gravatar_for @user, class: "avatar-large" %>
        <h2><%= @user.name %></h2>
      </header>
    </section>
  </aside>

  <section class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ul class="list-group">
        <%= render @microposts %>
      </ul>
      <%= paginate @microposts %>
    <% end %>
  </section>
</div>
